// bacic html el

body {
    font-family: Orbitron;
    background: rgb(64,105,34);
    background: linear-gradient(90deg, rgba(64,105,34,1) 0%, rgba(0,0,0,1) 50%, rgba(64,105,34,1) 100%);
        
}
    
      
    // scroll bar
    
  ::-webkit-scrollbar {
      width: 15px;
      overflow-y: scroll;
}
    
    /* Runing Track */
  ::-webkit-scrollbar-track {
      background: rgb(47, 43, 43);
      
      
}
     
    /* Thumb */
  ::-webkit-scrollbar-thumb {
      background: rgb(69, 114, 32);
      border-radius: 25%;
      border: solid, 5px, yellowgreen; 
}
    
    /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: rgb(148, 238, 3);
      border-radius: 25%; 
}
    
    
   
    //   About H1
  
    .about {
      margin-top: 100px;
      margin-bottom: -100px;
      color: greenyellow;
      text-align: center;
      
    }
      