 // timeline


//   back div

 $line-color: rgb(7, 3, 0);

.block_timeline {
	position: relative;
	margin: 300px auto 0;
	width: 1200px;
	background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 35%, rgba(154,77,33,1) 48%, rgba(0,0,0,1) 71%);
	background-image:
		
		linear-gradient(
		    25deg,
			  transparent 65%,
			  $line-color,
			  transparent 70%
		    ),
		linear-gradient(
		    -25deg,
			  transparent 65%,
			  $line-color,
			  transparent 70%
		    ),
		linear-gradient(
		    -25deg,
			  transparent 30%,
			  $line-color,
			  transparent 35%
		    ),
		linear-gradient(
		    25deg,
			  transparent 30%,
			  $line-color,
			  transparent 35%
		    ),		
		
		// ◊
		linear-gradient(
		    65deg,
			  transparent 65%,
			  $line-color,
			  transparent 70%
		    ),
		linear-gradient(
		    -65deg,
			  transparent 65%,
			  $line-color,
			  transparent 70%
		    ),
		linear-gradient(
		    -65deg,
			  transparent 30%,
			  $line-color,
			  transparent 35%
		    ),
		linear-gradient(
		    65deg,
			  transparent 30%,
			  $line-color,
			  transparent 35%
		    );
	background-size: 
		5em 2em,
		5em 2em,
		5em 2em,
		5em 2em,
		
		2em 5em,
		2em 5em,
		2em 5em,
		2em 5em;
}

.block_timeline:before, .block_timeline:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #004256, #000031,#18536d, #0407b1, #018585, 
	#0000ff, #000706, #42436e);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 120s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block_timeline:after {
	filter: blur(50px);
}
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1000px;
    margin: 100px auto;
    padding: 100px;
    color: greenyellow;
    margin-bottom: 160px;    
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(8, 0, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid greenyellow;
    border-radius: 15px 50px 30px;
    
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid greenyellow;
    border-radius: 15px 50px 30px;
  }
  
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }